name: Build and Deploy Headless Server

on:
  push:
    branches: [ master ]
  workflow_dispatch:

env:
  GODOT_VERSION: 4.2.1
  EXPORT_NAME: Linux Headless
  PROJECT_PATH: godot

jobs:
  export-server:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          lfs: true

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Build .NET Solution
        run: dotnet build ${{ env.PROJECT_PATH }}/OkieRummyGodot.sln

      - name: Godot Export
        uses: firebelley/godot-export@v5.2.1
        with:
          godot_executable_download_url: https://github.com/godotengine/godot-builds/releases/download/4.2.1-stable/Godot_v4.2.1-stable_mono_linux_x86_64.zip
          godot_export_templates_download_url: https://github.com/godotengine/godot-builds/releases/download/4.2.1-stable/Godot_v4.2.1-stable_mono_export_templates.tpz
          relative_project_path: ${{ env.PROJECT_PATH }}
          archive_export_output: false
          cache: true
          export_debug: false

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            ghcr.io/${{ github.repository_owner }}/okierummy-server:latest
            ghcr.io/${{ github.repository_owner }}/okierummy-server:${{ github.sha }}
